# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Assignment_UI_UT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
